/*
 * Stylesheet based on Typeplate by Dennis Gaebel (@gryghostvisuals) and Zachary Kain (@zakkain)
 * http://typeplate.com
 *
 * License: Creative Commmons Attribution 3.0
 * License URL: http://creativecommons.org/licenses/by/3.0
 */

html {
  font: normal 100.1%/1.52381em sans-serif; /* base font size 16px with 1.65 line-height */
}

@media only screen and (min-width: 49em)
{
  html {
    font-size: 1.3125em;  /*shift up to 21px*/
  }
}


body {
  background-color: #fff;
  color: #444;

  margin: 0;
  padding: 2em 1em 3em;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

/************************
 Links
 ************************/

a {
  color: #222;
  text-decoration: underline;
}

a:hover, a:active {
  outline: 0;
}

a:visited {
  color: #555;
}
a:hover, a:focus {
  color: #666;
}

a.footnote, a.reversefootnote {
  text-decoration: none;
}


/**************************
 Headings
 **************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0.1rem;
  text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
  color: #222222;
  font-weight: normal;
}

h1 {
  font-size: 36px;
  font-size: 2rem; /* 36 / 18 = 2 */
  margin-bottom: 0.825em;
}

h2 {
  font-size: 24px;
  font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
  margin-bottom: 1.2375em;
}

h3 {
  font-size: 21px;
  font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
  margin-bottom: 1.4142857142857141em; /* measure( base font-size(18) * base line-height(1.65) ) / current font-size(21) = margin-bottom(1.4142857142857141) */
}

h4 {
  font-size: 18px;
  font-size: 1rem; /* 18 = 18 × 1 */
  margin-bottom: 1.65em; /* measure( base font-size(18) * base line-height(1.65) ) / current font-size(18) = margin-bottom(1.65) */
}

/**************************
 Hyphens override
 **************************/
abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  /* Accepted values: [ none | manual | auto ] */ /* http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation */
  -webkit-hyphens: none; /* Safari 5.1 thru 6, iOS 4.2 thru 6 */
  -moz-hyphens: none; /* Firefox 16 thru 20 */
  -ms-hyphens: none; /* IE10 */
  -o-hyphens: none; /* PRESTO...haha LOL */
  hyphens: none;   /* W3C standard */
}

/**************************
 Typography
 **************************/

abbr {
  border-bottom: 1px dotted;
}


small {
  /*font-size: 75%;*/
  line-height: 1;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

q {
  quotes: '„' '“' '‚' '‘';
  font-style: italic;
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}


p {
  margin: auto auto 1.5em; /* bottom margin for paragraphs */
}

/*p + p {
  text-indent: 1.5em;
  margin-top: -1.5em;
}*/


pre code {
  word-wrap: normal;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; /* http://css-tricks.com/almanac/properties/w/whitespace */
}

pre {
  white-space: pre;
}

code {
  white-space: pre;
  font-family: monospace;
}

/******************
 Block level stuff
 ******************/

img, video {
  max-width: 100%;
}

iframe {
  border: 0;
}

ul, ol {
  list-style-position: outside;
  margin: 0.875em 0 1.75em;
  padding-left: 1em;
}

ul {
  list-style-type: disc;
}

li {
  margin: 0.875em 0;
}

hr {
  width: 20%;
  margin: 2em auto;
  border: 0;
  border-top: 1px solid #aaa;
}

table {
  border-collapse: collapse;
  margin-bottom: 0.875em;
}

td, th {
  font-size: 1em;
  border: 1px solid #999;
  text-align: left;
  line-height: 1.2;
}

thead th {
  vertical-align: bottom;
}

@media only screen and (min-width: 35em) {
  td, th {
    padding: 0.2em 0.3em;
  }
}

/*******************
 Quotes, Figures et al.
 *******************/

figure,
blockquote {
  margin: 1.5em 1em;
}

figure.full,
figure figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  font-style: italic;
}

@media only screen and (min-width: 35em) {
  figure, blockquote {
    margin: 1.5em 2em;
  }
}

figure p {
  margin: 0;
}

figure > blockquote {
  margin: 0;
}

blockquote p:last-of-type {
  margin-bottom: 0.875em;
}

blockquote footer {
  display: block;
  font-size: inherit;
  text-align: right;
}

figure img,
.figure img,
figure svg,
img.figure {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed iframe, .embed object {
  width: 100%; height: 100%;
  position: absolute;
  top: 0; left: 0;
}

/*blockquote footer cite:before {
  content: "—";
}*/

/*.footnotes {
  margin-top: 3em;
}*/

.footnotes:before {
  display: block;
  content: " ";
  width: 40%;
  margin: 2em auto;
  border-top: 1px solid #aaa;
}

/*****************************************************************************/
/* Site
/*****************************************************************************/

.site {
  max-width: 32em;
  margin: 0 auto;
}

@media only screen and (min-width: 35em) {
  .site-intro,
  .post-footer-nav {
    text-indent: -1em;
  }
}

.meta {
  color: #aaa;
}

.posts {
  list-style: none;
  padding-left: 0;
}

.posts time {
  color: #aaa;
  display: block;
}

.posts {
}


.site-footer {
  padding-top: 3em;
  text-transform: lowercase;
}

.site-footer a {
  margin-right: 2em;
  color: #aaa;
  text-decoration: none;
}

.site-footer strong {
  color: #222;
  font-weight: normal;
}

/****************************
 * Post
 ****************************/

.post {
  padding-top: 2em;
}

.post-header {
  padding-bottom: 1em;
}

.post-title {
  margin-bottom: 0;
}
.post-subtitle {
  margin-bottom: 0;
}
