/*
 * Stylesheet based on Typeplate by Dennis Gaebel (@gryghostvisuals) and Zachary Kain (@zakkain)
 * http://typeplate.com
 */


html {
  font: normal 112.5%/1.65 serif; /* base font size 18px with 1.65 line-height */
}


/*body {
  background-color: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333;
}
*/


body {
  background-color: #fff;
  color: #444;

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

a {
  color: #000;
  text-decoration: underline;
}
a:hover {
  color: #000;
}
a:visited {
  color: #555;
}


small {
  font-size: 65%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0;
  text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
  color: #222222;
}

h1 {
  font-size: 36px;
  font-size: 2rem; /* 36 / 18 = 2 */
  margin-bottom: 0.825em;
}

h2 {
  font-size: 24px;
  font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
  margin-bottom: 1.2375em;
}

h3 {
  font-size: 21px;
  font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
  margin-bottom: 1.4142857142857141em; /* measure( base font-size(18) * base line-height(1.65) ) / current font-size(21) = margin-bottom(1.4142857142857141) */
}

h4 {
  font-size: 18px;
  font-size: 1rem; /* 18 = 18 × 1 */
  margin-bottom: 1.65em; /* measure( base font-size(18) * base line-height(1.65) ) / current font-size(18) = margin-bottom(1.65) */
}


p {
  margin: auto auto 1.5em; /* bottom margin for paragraphs */
}

p + p {
  text-indent: 1.5em; /* indent subsequent paragraphs */
  margin-top: -1.5em; /* no top margin on subsequent paragraphs */
}

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  /* Accepted values: [ none | manual | auto ] */ /* http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation */
  -webkit-hyphens: none; /* Safari 5.1 thru 6, iOS 4.2 thru 6 */
  -moz-hyphens: none; /* Firefox 16 thru 20 */
  -ms-hyphens: none; /* IE10 */
  -o-hyphens: none; /* PRESTO...haha LOL */
  hyphens: none;   /* W3C standard */
}


pre code {
  word-wrap: normal;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; /* http://css-tricks.com/almanac/properties/w/whitespace */
}

pre {
  white-space: pre;
}

code {
  white-space: pre;
  font-family: monospace;
}

abbr {
  font-variant: small-caps; /* https://developer.mozilla.org/en-US/docs/CSS/font-variant */
  font-weight: 600;
  text-transform: lowercase;
  color: #808080;
}

abbr[title]:hover {
  cursor: help; /* cursor changed to a question mark when it has a title */
}


ul, ol {
  list-style-position: outside;
  padding-left: 0;
}

/*****************************************************************************/
/* Site
/*****************************************************************************/

.site {
  max-width: 42em;
  margin: 3em auto 2em;
}

.meta {
  color: #aaa;
}

.posts {
  list-style: none;
}

.posts {
  color: #aaa;
}

.site-footer {
  margin-top: 2rem;
  text-transform: lowercase;
}

.site-footer a {
  margin-right: 1em;
  color: #aaa;
}

/****************************
 * Post
 ****************************/

.post-header {

}

.post-header h1 {
  margin-bottom: 0;
}
