<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
  <link rel="author" href="http://jan.vlnas.cz/">
  <!-- syntax highlighting CSS -->
  <!-- <link rel="stylesheet" href="/css/syntax.css"> -->

  <link rel="stylesheet" href="/assets/main.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">
</head>
<body>

  <div class="site">
    {{ content }}
    <footer class="site-footer">
      <nav>
        {% if page.url != "/index.html" %}<a href="/">více</a>{% endif %}
        <a href="/feed.xml" rel="alternate">RSS</a>
        <a href="https://github.com/jnv/bitoff.cz">kód</a>
      </nav>
    </footer>
  </div>

  {{ page.dependencies }}
</body>
</html>
