<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="author" href="{{ site.author_uri }}">
  <link rel="stylesheet" href="/des/main.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }} (pouze úryvky)" href="/excerpts.atom">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% elsif page.subtitle %}
  <meta name="description" content="{{ page.subtitle }}">
  {% endif %}
</head>
<body>

  <div class="site">
    {{ content }}
    <footer class="site-footer">
      {% if page.url != "/" %}
      <nav class="post-footer-nav">
        <a href="/" rel="home" title="Přejít na hlavní stránku">
          <strong>bit off</strong>
        </a>
      {% else %}
      <nav>
      {% endif %}
        <a class="footer-nav-link" href="/feed.xml" rel="alternate home">RSS</a>
        <a class="footer-nav-link" href="https://github.com/jnv/bitoff.cz" rel="source">kód</a>
      </nav>
    </footer>
  </div>

  {{ page.dependencies }}

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    _paq.push(['setTrackerUrl',  'https://api-56fe40adc9545204d7323865d5ef1bd4.oasis.sandstorm.io']);
    _paq.push(['setSiteId', 1]);
    _paq.push(['setApiToken', 'TweuEgg-TDauKcG_Xk8tAzHb4NsxZmsi3uqTcweIy9F']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://usgwp7sah6mwznewjaml.oasis.sandstorm.io/embed.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
</body>
</html>
